 html {
     height: 100%;
 }
    
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin: 0;
        }
    
        ul,
        ol {
            margin: 0;
            padding: 0;
            list-style: none;
        }

img {
     display: block;
     max-width: 100%;

}

 body {
     font-family: Roboto, sans-serif;
     color: #434455;
     background-color: #FFFFFF;
     height: 100%;
 }
 .a {
     text-decoration: none;
 }

 .ul {
     list-style: none;
 }

  *,
  *::before,
  *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
  }
.container {
        width: 100%;
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
}
.header {
    background-color: #FFFFFF;
         padding: 28px 0;
         border-bottom: 1px solid#e7e9fc;
         display: flex;
}
.nav{
    list-style: none;
        padding-left: 0;
        align-items: center;
        display: flex;
}



.web {
    background: #FFFFFF;
    color:#4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
         margin-right: 76px;
}

.studio{
    background: #FFFFFF;
    color:#2E2F42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.ulclass-contacts {
         display: flex;
         gap: 40px;

}
.contacts {
    color: #2e2f42;
    background: #FFFFFF;    
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;   
    
}

.contacts-address {
    font-style: normal;
    background: #FFFFFF;
    color: #434455;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
         padding-left: 170px;
         padding-top: 24px;
         
}

.contacts-list {
display: flex;
gap: 40px;
margin: 0;
padding: 0;
}
.contacts-item {
display: flex;
    gap: 40px;
}
.contacts-item:last-child {
    margin-right: 0;
}
.link {
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
}
.link:hover,
.link:focus {
    color: #404bbf;
}

.contacts-link {
    color: #434455;
    text-decoration: none;
    margin-right: 0;
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}


 .efective {
     background: #2E2F42;
     padding: 188px 0;
    display: flex;
 }
.efective-div {
     display: inline-block;
     padding-left: 300px;
}

.title {
    background: #2E2F42;
    color:#FFFFFF; 
    font-family: Roboto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
        max-width: 496px;
}
.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
         display: block;
         min-width: 169px;
         height: 56px;
         border: none;  
         border-radius: 4px;  
         margin-left: 165px;
         margin-top: 48px;
}
  .button:hover,
  .focus:focus {
    background-color: #404BBF; 
  }
  .section-strategy {
    padding: 120px 0;
  }
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }
  .strategy {
      background: #FFFFFF;
      display: flex;
      gap: 24px;
   
  }

.li-strategy {
    width: calc((100% - 72px) / 4);
}

.advantages {
    background: #FFFFFF;
    color: #2E2F42;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
        display:flex;
        margin-bottom: 8px;
}

.feature {
    background: #FFFFFF;
    color: #434455;
    font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
     padding-top: 8px;
}
.section {
background-color: #F4F4FD;
padding: 120px 0;
}
.team-div {
   display: inline-block;
}
.team {
    background-color: #F4F4FD;
    color: #2e2f42;
    font-family: Roboto;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.ourteam {
    background: #F4F4FD;
    border-radius: 0px 0px 4px 4px;
    
   
}
.ulteam {
    
    display: flex;
    gap: 24px;
    padding: 30px 0;
}
.divteam {
    padding: 32px 0;
}
.teamq { 
    background:#FFFFFF;
    color: #2e2f42;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
         text-align: center;
         margin-bottom: 8px;
}
.profession {
    background:#FFFFFF;
    color: #434455;
    font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
}
.section-portfolio {
    padding: 120px 0 120px 0;
    
}
.portfolio-a {
display: inline-block;
}
.portfolio { 
    background: #FFFFFF;
    color: #2e2f42;
    font-family: Roboto;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.ulportfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}

.liporfolio {
    width: calc((100% - 48px) / 3);
}
.div-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    
}
.portfolioq {
    color: #2e2f42;
    font-family: Roboto;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.portfoliow {
    color: #434455;
    font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.footer {
   
    color: #F4F4FD;
    font-family: Roboto, sans-serif;
    background: #2e2f42;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
        padding: 100px 0;
        
        
}

.webq {
    background: #2e2f42;
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    padding-left: 0px;
        margin-bottom: 16px;
} 

.studioq {
    background: #2E2F42;
    color:#F4F4FD;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   
}

.footerq {
 background: #2e2f42;
 font-family: Roboto, sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #f4f4fd;
     display: flex;
     letter-spacing: 0.02em;
     max-width: 264px;
     padding-top: 16px;
}

